/* BEFORE FOOTER SECTION START */
#Befooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00CD54;
    padding: 2rem 0;
  }
  
  #Befooter .quote {
    max-width: 70rem;
    text-align: center;
  }
  
  #Befooter .quote h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  #Befooter .quote span {
    font-size: 4rem;
    font-family: 'Playball', cursive;
    color: #333;
    margin-bottom: 1rem;
  }
  #Befooter .quote p {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  #Befooter .button {
    display: inline-block;
    background-color: var(--yellow);
    color: #333;
    padding: 1rem 2rem;
    border-radius: 5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  #Befooter .button:hover {
    background: rgb(39,150,60);
    background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);  
    color: #fff;
    transform: scale(0.98);
  }
  
  
  /* FOOTER SECTION START */
  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: var(--shadedBG);
  }
  
  footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a {
    color: #333;
  }
  footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
  }
  
  footer .content p {
    text-align: justify;
  }
  footer .content .lower .topic {
    margin: 24px 0 5px 0;
  }
  footer .content .lower i {
    padding-right: 16px;
  }
  footer .content .middle {
    padding-left: 80px;
  }
  footer .content .middle a {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
  }
  
  footer .content .middle a:hover {
    text-decoration: underline;
    color: var(--green);
    transform: scale(0.98);
    font-weight: bold;
  }
  footer .content .right input[type="email"] {
    height: 50px;
    width: 100%;
    outline: none;
    color: #333;
    background: var(--whiteBG);
    border-radius: 5px;
    padding-left: 12px;
    font-size: 12px;
    border: 2px solid #333;
  }
  footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--whiteBG);
    background: var(--green);
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eee;
    transition: all 0.3s ease-in-out;
  }
  footer .content .right input[type="submit"]:hover {
    background: rgb(39,150,60);
    background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
    color: var(--whiteBG);
    transform: scale(0.98);
  }
  footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  footer .content .media-icons a:hover {
    color: #fff;
    transform: scale(1);
    background: rgb(39,150,60);
    background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
  }
  footer .vbottom {
    width: 100%;
    text-align: right;
    color: #333;
    padding: 0 40px 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
  }
  footer .vbottom a {
    color: var(--green);
  }
  footer a {
    transition: all 0.3s ease;
  }
  footer a:hover {
    text-decoration: underline;
    color: var(--green);
  }
  
  /* Very Bottom of Footer (PrivPol, Terms&Reg, and TechieTigers */
  .vbottom a{
    color: #333;
    text-decoration: underline;
    transition: all 0.3s ease;
  }
  .vbottom a:hover{
    color: var(--green);
  }
  
  footer.hidden {
    display: none;
  }
  main {
    padding-bottom: 10rem;
  }
  