@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
  --green: #0c6b3d;
  --lite-green: #27963C; 
  --whiteBG: #fff;
  --shadedBG: #eee;
  --yellow: #F5DA5E }


/* General styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

/* Set font size, scroll behavior, and overflow for the HTML element */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 16rem;
  overflow-x: hidden;
}

/* Section styles */
section {
  padding: 2rem 9%;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 5rem;
  background: var(--whiteBG);
}

/* Heading styles */
.heading{
  text-align: center;
  font-size: xx-large; 
  font-family: 'Playball', cursive;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
}

/* Span styles within the heading */
.heading span{
  color: var(--green); 
  font-size: 4rem; 
}

/* Button styles */
.button{
  display: inline-block;  
  margin-top: 1rem;  
  border-radius: 5rem;  
  background: #333;  
  color: #fff;  
  padding: .9rem 3.5rem; 
  cursor: pointer;  
  font-size: 1.7rem;  
}

/* Button hover styles */
.button:hover{
  transform: scale(0.98);  
  background: rgb(39,150,60);  
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}




/* Home section */
.home{ 
  display: flex;
  align-items: center;
  min-height: 1000px;
  max-height: 1000px;
  height: 100%;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  background: url(/images/aloe.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home .content{
  max-width: 80rem;
}
.home .content h3{ 
  font-size: 7rem;
  color: #333;
}
.home .content span{ 
  font-size: 3.5rem;
  color: var(--green); 
  padding: 1rem 0;
  line-height: 1.5;
}

#spanner{
  font-family: 'Playball';
  font-size: 4rem;
}

#underline{
  text-decoration: underline;
  font-size: 1.5rem;
  color: var(--green);
}


.home .content p{ 
  font-size: 1.5rem;
  color: #5D675E; 
  padding: 1rem 0;
  line-height: 1.5;
}



/* This CSS code is for the 'About' section of a website */
.about .row{
  display: flex; 
  align-items: center;
  gap: 2rem; 
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .imgBG-container{
  flex: 1 1 40rem;
  position: relative;
}

.about .row .imgBG-container img{
  width: 100%; 
  border:1.5rem solid #fff; 
  border-radius: .5rem; 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); 
  height: 100%; /
}

.about .row .imgBG-container h3{
  position: absolute; 
  top: 50%; transform: translateY(-50%); 
  font-size: 3rem; 
  color: #333; 
  background-color: #fff; 
  width: 100%; 
  padding: 1rem 2rem; 
  text-align: center; 
  mix-blend-mode: normal; 
}

.about .row .content{
  flex: 1 1 40rem;
}

.about .row .content h3{
  font-size: 3rem; 
  color: #333; 
}

.about .row .content p{
  font-size: 1.5rem;
  color: #333; 
  text-align: justify;
  padding: 5rem 0; 
  padding-top: 1rem; 
  line-height: 1;
}


/* Culture section */
#Culture{
  display: grid;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: center;
  background: var(--whiteBG);
}

.culture-heading{
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.culture-heading span{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
  
.kultura{
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* grid with 4 columns */
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.kultura .CU-card{
  border: 2px solid var(--whiteBG);
  border-radius: 4px;
  padding: 0.5rem;
  background: var(--shadedBG);
}

.kultura .CU-card:hover{
  border-width: 2px;
  border-color: var(--lite-green);
}
.kultura .CU-card .img{
  height: 200px;
  width: 100%;
}
.kultura .CU-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.kultura .CU-card .content{
  padding: 10px 20px;
}
.CU-card .content .title{
  font-size: 24px;
  font-weight: 600;
}
.CU-card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.CU-card .content p{
  text-align: justify;
  margin: 10px 0;
}
.CU-card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.CU-card .content .btn button{
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.CU-card .content .btn button:hover{
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);
}


/* Clothing section */
#Clothing{
  display: grid;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: center;
  background: var(--whiteBG)

}
.clothing-heading{
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  font-size: 4rem;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.clothing-heading span{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
.damit{
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*  grid with 4 columns */
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.damit .CL-card{
  border: 2px solid var(--whiteBG);
  border-radius: 4px;
  padding: 0.5rem;
  background: var(--shadedBG);
}

.damit .CL-card:hover{
  border-width: 2px;
  border-color: var(--lite-green);
}

.damit .CL-card .img{
  height: 200px;
  width: 100%;
}
.damit .CL-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.damit .CL-card .content{
  padding: 10px 20px;
}
.CL-card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.CL-card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.CL-card .content p{
  text-align: justify;
  margin: 10px 0;
}
.CL-card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.CL-card .content .btn button{
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.CL-card .content .btn button:hover{
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%); }


/* Cosmetics section */
#Cosmetics{
  display: grid;
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;  
  place-items: center;
  text-align: center;
  align-items: center;
  background: var(--whiteBG)

}
.cosmetics-heading{
  text-align: center;
  font-size: 4rem;
  align-items: baseline;
  justify-content: center;
  font-size: 4rem;
  color: #333;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;  margin: 2rem 0;
  background: rgba(0, 0, 0, .1);
  font-family: 'Playball', cursive;
}  
.cosmetics-heading span{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
}
.meykup{
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* grid with 4 columns */
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.meykup .COS-card{
  border: 2px solid var(--whiteBG);
  border-radius: 4px;
  padding: 0.5rem;
  background: var(--shadedBG);
}

.meykup .COS-card:hover{
  border-width: 2px;
  border-color: var(--lite-green);
}

.meykup .COS-card .img{
  height: 200px;
  width: 100%;
}
.meykup .COS-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.meykup .COS-card .content{
  padding: 10px 20px;
}
.COS-card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.COS-card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--lite-green);
  line-height: 20px;
}
.COS-card .content p{
  text-align: justify;
  margin: 10px 0;
}
.COS-card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.COS-card .content .btn button{
  background: var(--green);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5rem;
  display: inline-block;
}
.COS-card .content .btn button:hover{
  transform: scale(0.98);
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%); }





/* Skip Button styles */
.skip a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #333;
  background: var(--shadedBG);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.skip a:hover {
  color: var(--whiteBG);
  transform: scale(1.05); /* increase scale on hover */
  background: rgb(39,150,60);
  background: linear-gradient(90deg, rgba(39,150,60,1) 0%, rgba(12,107,61,1) 100%);  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
